node_modules/
dist/
release/
db/*.sqlite*
python/python.exe
python/Lib/
python/Scripts/
python/*.zip
python/get-pip.py
python/faster_whisper/
python/ctranslate2*/
python/tokenizers*/
python/huggingface*
python/av/
python/onnxruntime/
python/numpy*/
python/setuptools*/
python/pip/
python/pip-*.dist-info/
python/wheel/
ffmpeg.exe
*.log
.DS_Store
python/__pycache__/
